# question1:

In [2]:
import pandas as pd
print(pd.__version__)

1.1.4

# question2:

In [4]:
import numpy as np
arr = np.array([1,2,3,4,5])
ser = pd.Series(arr)
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

# question3:

In [5]:
df = ser.to_frame().reset_index()
df.rename(columns = {0:"number"},inplace = True)
df

   index  number
0      0       1
1      1       2
2      2       3
3      3       4
4      4       5

# question4:

In [6]:
import seaborn as sb

In [7]:
a = sb.get_dataset_names()
a

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [8]:
mpg = sb.load_dataset("mpg")

In [10]:
mpg["origin"].describe()

count     398
unique      3
top       usa
freq      249
Name: origin, dtype: object

# question5:

In [11]:
mpg["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# question6:

In [12]:
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]